@use "../variables/colors" as *;

@use "sass:meta";

@each $color in $color-list {
  @each $shade in $color-shades {
    $colorShade: #{"" + $color + $shade};

    .color-#{$colorShade} {
      color: var(--#{$colorShade});
    }

    .bg-#{$colorShade} {
      background-color: var(--#{$colorShade});
    }
  }
}

.color-white {
  color: white;
}

.bg-white {
  background-color: white;
}

.color-black {
  color: black;
}

.bg-black {
  background-color: black;
}